---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>El Nivel Ocho
	</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <a href="/about">Sobre mi</a>
    <a href="/blog">Blog</a>

    <h1>About</h1>
	<h2>Aitor Pascual</h2>
    <p>Soy estudiante de Ingenieria de Telecomunicaciones en la Universidad del País Vasco UPV/EHU.</p>

    <p>Estoy hacienodo este tutorial de Astro para, en un futuro,, hacer una web para mi proyecto "El Nivel Ocho"</p>
  </body>
</html>