---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>El Nivel Ocho
	</title>
  </head>
  <body>
    <h1>El Nivel Ocho</h1>
	<p>Divulgación de matemáticas y telecomunicaciones. También de informática e IA.</p>
  </body>
</html>